<!--container to show a single product-->
<div class="container" id="parent-container-single-product">
	{{#if singleProduct}}
	<!-- section to show a product descriptiom and image-->
		<div class="container-single-product">
			<div class="single-product-image-main">
				<h4 class="single-product-title">{{singleProduct.productTitle}}</h4>
				<img src="/{{singleProduct.productImage1}}" class="product-image-active cl">
			</div>
			<div class="container-single-product-other-images">
				<img src="/{{singleProduct.productImage2}}" class="single-product-other-image">
				<img src="/{{singleProduct.productImage3}}" class="single-product-other-image">
			</div>
			<div class="single-product-discreption">
				<p class="">{{singleProduct.productDescription}}</p>
			</div>
		</div>
		<!-- container to payments and buy the product-->
		<div class="buy-single-product">
			<div class="single-product-order-amount">
				<form class="single-product-order-amount-form" method="post">
					<h5 class="single-product-amount" id="single-product-current-amount"> الكمية المتاحة {{singleProduct.productAmount}}</h5>
					<h5>عدد العناصر المطلوبة</h5>
					<input type="text" value="1" class="single-product-show-order-amount" id="single-product-show-order-amount"/>
						
					
					<div class="single-product-order-amount-arrows">
						<p id="increase-amount"><i class="fa fa-arrow-up"></i></p>
						<p id="decrease-amount"><i class="fa fa-arrow-down"></i></p>
					</div>
				</form>
			</div>
			<p class="single-product-price">سعر المنتج <span style="font-size:15px; margin-right:10px" id="single-product-price">{{singleProduct.productPrice}}</span><span style="display:none;" id="single-product-price-count">{{singleProduct.productPrice}}</span> ريال سعودي</p>
			{{#if singleProduct.productDescount}}
			<p class="single-product-descount" id="single-product-descount">السعر داخل العرض: <span style="margin-right:10px; font-size:15px;color:red" id="single-product-price-descount">{{singleProduct.productDescount}}</span>
			<span id="single-product-descount-count" style="display:none;">{{singleProduct.productDescount}}</span>
			ريال سعودي</p>
			{{/if}}
			{{#unless sellerLogged}}
			<a href="#" class="single-product-add-basket"><i class="fa fa-shopping-cart" aria-hidden="true"></i> ضف إلى سلة المشتريات</a>
			<a class="single-product-buy-btn" href="#">شراء</a>
			{{/unless}}
		</div>
	{{/if}}
</div>
